<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>HAC</title>
</head>

<body id="home">

    <header>
        <nav class=" navbar navbar-expand-sm  
        navbar-dark bg-dark fixed-top py-lg-0 ">

            <a class="navbar-brand" href="#">

                <!-- Add logo with size of 90*80 -->
                <img src="{{url_for('static', filename='logo1.png')}}" width="70" height="60" alt="">
                TITLE NAME
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="home">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="text-center">
                    <span>#India Fights COVID-19...</span>
                </h1>
            </div>
        </div>
    </section>

    <section id="track">
        <div class="container-fluid bg-light p-5 text-center my-3">
            <h1>Current Stats...</h1>
        </div>

        <div class="container my-5">
            <div class="row text-center">
                <div class="col-3 text-warning">
                    <h5>Confirmed</h5>
                    <p id="confirmed"></p>
                </div>
                <div class="col-3 text-info">
                    <h5>Active</h5>
                    <p id="active"></p>
                </div>
                <div class="col-3 text-success">
                    <h5>Recovered</h5>
                    <p id="recovered"></p>
                </div>
                <div class="col-3 text-danger">
                    <h5>Deaths</h5>
                    <p id="deaths"></p>
                </div>
            </div>
            <canvas id="myChart"></canvas>

        </div>
    </section>
    <section id="main">
        <div class="container my-5">
            <form action="{{ url_for('predict')}}" method="POST">
                <div class="row" id="assess">
                    <div class="md-8">
                        <h1 class="text-center">Assess Yourself...</h1>
                    </div>
                </div>
                <div class="row my-3" id="form">
                    <div class="col md-4">
                        <div class="input-group my-3">
                            <input type="text" class="form-control" placeholder="Enter your Name" aria-label="Username"
                                aria-describedby="basic-addon1" name="name">
                        </div>
                    </div>
                </div>
                <div class="row py-5" id="symp">
                    <div class="md-8">
                        <h1>Select your Symptoms</h1>
                    </div>
                </div>
                <div class="row" id="drop">
                    <div class="md-4 px-5">
                        <div class="dropdown">
                            <select id="dp1" name="sym1" onchange="random1()">
                                <option value="anxiety">anxiety</option>
                                <option value="blister">blister</option>
                                <option value="blurred_and_distorted_vision">blurred_and_distorted_vision</option>
                                <option value="breathlessness">breathlessness</option>
                                <option value="chest_pain">chest_pain</option>
                                <option value="cold_hands_and_feets">cold_hands_and_feets</option>
                                <option value="cough">cough</option>
                                <option value="dehydration">dehydration</option>
                                <option value="dizziness">dizziness</option>
                                <option value="extra_marital_contacts">extra_marital_contacts</option>
                                <option value="fatigue">fatigue</option>
                                <option value="headache">headache</option>
                                <option value="high_fever">high_fever</option>
                                <option value="joint_pain">joint_pain</option>
                                <option value="neck_pain">neck_pain</option>
                                <option value="nausea">nausea</option>
                                <option value="red_sore_around_nose">red_sore_around_nose</option>
                                <option value="scurring">scurring</option>
                                <option value="skin_peeling">skin_peeling</option>
                                <option value="sweating">sweating</option>
                                <option value="watering_from_eyes">watering_from_eyes</option>
                                <option value="blackheads">blackheads</option>
                                <option value="blister">blister</option>
                                <option value="sunken_eyes">sunken_eyes</option>
                                <option value="chills">chills</option>
                                <option value="foul_smell_of_urine">foul_smell_of_urine</option>
                                <option value="knee_pain">knee_pain</option>
                                <option value="nodal_skin_eruptions">nodal_skin_eruptions</option>
                                <option value="pus_filled_pimples">pus_filled_pimples</option>
                                <option value="shivering">shivering</option>
                                <option value="skin_rash">skin_rash</option>
                                <option value="stiff_neck">stiff_neck</option>
                                <option value="bruising">bruising</option>
                                <option value="cramps">cramps</option>
                                <option value="lethargy">lethargy</option>
                                <option value="loss_of_appetite">loss_of_appetite</option>
                                <option value="yellowish_skin">yellowish_skin</option>
                                <option value="patches_in_throat">patches_in_throat</option>
                                <option value="restlessness">restlessness</option>
                                <option value="weakness_of_one_body_side">weakness_of_one_body_side</option>
                                <option value="vomiting">vomiting</option>
                                <option value="ulcers_on_tongue">ulcers_on_tongue</option>
                                <option value="pain_in_anal_region">pain_in_anal_region</option>
                                <option value="mood_swings">mood_swings</option>
                                <option value="bladder_discomfort">bladder_discomfort</option>
                            </select>
                            <div class="my-2" id="sp1"></div>
                        </div>
                    </div>
                    <div class="md-4 px-5">
                        <div class="dropdown">
                            <select id="dp2" onchange="random2()" name="sym2">
                                <option value="anxiety">anxiety</option>
                                <option value="blister">blister</option>
                                <option value="blurred_and_distorted_vision">blurred_and_distorted_vision</option>
                                <option value="breathlessness">breathlessness</option>
                                <option value="chest_pain">chest_pain</option>
                                <option value="cold_hands_and_feets">cold_hands_and_feets</option>
                                <option value="cough">cough</option>
                                <option value="dehydration">dehydration</option>
                                <option value="dizziness">dizziness</option>
                                <option value="extra_marital_contacts">extra_marital_contacts</option>
                                <option value="fatigue">fatigue</option>
                                <option value="headache">headache</option>
                                <option value="high_fever">high_fever</option>
                                <option value="joint_pain">joint_pain</option>
                                <option value="neck_pain">neck_pain</option>
                                <option value="nausea">nausea</option>
                                <option value="red_sore_around_nose">red_sore_around_nose</option>
                                <option value="scurring">scurring</option>
                                <option value="skin_peeling">skin_peeling</option>
                                <option value="sweating">sweating</option>
                                <option value="watering_from_eyes">watering_from_eyes</option>
                                <option value="blackheads">blackheads</option>
                                <option value="blister">blister</option>
                                <option value="sunken_eyes">sunken_eyes</option>
                                <option value="chills">chills</option>
                                <option value="foul_smell_of_urine">foul_smell_of_urine</option>
                                <option value="knee_pain">knee_pain</option>
                                <option value="nodal_skin_eruptions">nodal_skin_eruptions</option>
                                <option value="pus_filled_pimples">pus_filled_pimples</option>
                                <option value="shivering">shivering</option>
                                <option value="skin_rash">skin_rash</option>
                                <option value="stiff_neck">stiff_neck</option>
                                <option value="bruising">bruising</option>
                                <option value="cramps">cramps</option>
                                <option value="lethargy">lethargy</option>
                                <option value="loss_of_appetite">loss_of_appetite</option>
                                <option value="yellowish_skin">yellowish_skin</option>
                                <option value="patches_in_throat">patches_in_throat</option>
                                <option value="restlessness">restlessness</option>
                                <option value="weakness_of_one_body_side">weakness_of_one_body_side</option>
                                <option value="vomiting">vomiting</option>
                                <option value="ulcers_on_tongue">ulcers_on_tongue</option>
                                <option value="pain_in_anal_region">pain_in_anal_region</option>
                                <option value="mood_swings">mood_swings</option>
                                <option value="bladder_discomfort">bladder_discomfort</option>
                            </select>
                            <div class="my-2" id="sp2"></div>
                        </div>
                    </div>
                    <div class="md-4 px-5">
                        <div class="dropdown">
                            <select id="dp3" onchange="random3()" name="sym3">
                                <option value="anxiety">anxiety</option>
                                <option value="blister">blister</option>
                                <option value="blurred_and_distorted_vision">blurred_and_distorted_vision</option>
                                <option value="breathlessness">breathlessness</option>
                                <option value="chest_pain">chest_pain</option>
                                <option value="cold_hands_and_feets">cold_hands_and_feets</option>
                                <option value="cough">cough</option>
                                <option value="dehydration">dehydration</option>
                                <option value="dizziness">dizziness</option>
                                <option value="extra_marital_contacts">extra_marital_contacts</option>
                                <option value="fatigue">fatigue</option>
                                <option value="headache">headache</option>
                                <option value="high_fever">high_fever</option>
                                <option value="joint_pain">joint_pain</option>
                                <option value="neck_pain">neck_pain</option>
                                <option value="nausea">nausea</option>
                                <option value="red_sore_around_nose">red_sore_around_nose</option>
                                <option value="scurring">scurring</option>
                                <option value="skin_peeling">skin_peeling</option>
                                <option value="sweating">sweating</option>
                                <option value="watering_from_eyes">watering_from_eyes</option>
                                <option value="blackheads">blackheads</option>
                                <option value="blister">blister</option>
                                <option value="sunken_eyes">sunken_eyes</option>
                                <option value="chills">chills</option>
                                <option value="foul_smell_of_urine">foul_smell_of_urine</option>
                                <option value="knee_pain">knee_pain</option>
                                <option value="nodal_skin_eruptions">nodal_skin_eruptions</option>
                                <option value="pus_filled_pimples">pus_filled_pimples</option>
                                <option value="shivering">shivering</option>
                                <option value="skin_rash">skin_rash</option>
                                <option value="stiff_neck">stiff_neck</option>
                                <option value="bruising">bruising</option>
                                <option value="cramps">cramps</option>
                                <option value="lethargy">lethargy</option>
                                <option value="loss_of_appetite">loss_of_appetite</option>
                                <option value="yellowish_skin">yellowish_skin</option>
                                <option value="patches_in_throat">patches_in_throat</option>
                                <option value="restlessness">restlessness</option>
                                <option value="weakness_of_one_body_side">weakness_of_one_body_side</option>
                                <option value="vomiting">vomiting</option>
                                <option value="ulcers_on_tongue">ulcers_on_tongue</option>
                                <option value="pain_in_anal_region">pain_in_anal_region</option>
                                <option value="mood_swings">mood_swings</option>
                                <option value="bladder_discomfort">bladder_discomfort</option>
                            </select>
                            <div class="my-2" id="sp3"></div>
                        </div>
                    </div>
                </div>
                <div class="row my-5" id="submit">
                    <div class="col md-12">
                        <input type="submit" class="btn btn-success">Assess</button>
                    </div>
                </div>
            </form>
            <div class="row my-5" id="out">
                <div class="col md-4">
                    <div class="input-group my-3">
                        <!--<input type="text" class="form-control" placeholder="Output" aria-label="Username"
                            aria-describedby="basic-addon1">-->
                        {{prediction_text}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="ma p"></div>
    <script>
        function initMap() {
            let map;
            let service;
            let infowindow;
            var curlat, curlon, curloc;
            window.onload = function () {
                var startPos;
                var geoOptions = {
                    enableHighAccuracy: true
                }

                var geoSuccess = function (position) {
                    startPos = position;
                    curlat = Number(startPos.coords.latitude);
                    curlon = Number(startPos.coords.longitude);

                    map = new google.maps.Map(
                        document.getElementById('map'), { zoom: 14, center: curloc });

                    var marker = new google.maps.Marker({ position: curloc, map: map });

                    curloc2 = { lat: curlat + 1, lng: curlon + 1 };
                    marker = new google.maps.Marker({ position: curloc2, map: map });

                    var request = {
                        location: new google.maps.LatLng(curlat, curlon),
                        radius: 5000,
                        type: ['hospital']
                    };
                    service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, (results, status) => {
                        if (status === google.maps.places.PlacesServiceStatus.OK) {
                            for (let i = 0; i < results.length; i++) {
                                createMarker(results[i]);
                            }
                        }
                    }
                    );

                };
                function createMarker(place) {
                    const marker = new google.maps.Marker({
                        map,
                        position: place.geometry.location
                    });
                    google.maps.event.addListener(marker, "click", () => {
                        infowindow.setContent(place.name);
                        infowindow.open(map);
                    });
                }
                var geoError = function (error) {
                    console.log('Error occurred. Error code: ' + error.code);
                    // error.code can be:
                    //   0: unknown error
                    //   1: permission denied
                    //   2: position unavailable (error response from location provider)
                    //   3: timed out
                };
                navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
            }
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAZ-8P7mYd9H5_0PV9tIyzUomlreLuUY8M &libraries=places&callback=initMap">
        </script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>